/* App Tool */

.copicon .header h4,
.copicon .header h2 {
    text-align: center;
}

.copicon .header {
    padding-bottom: 40px;
    padding-top: 25px;
}

.copicon .btn {
    box-shadow: none;
}

.copicon p {
    color: rgb(117, 117, 117);
    font-size: 0.9em;
    font-weight: 200;
}

.copicon .header {
    border-bottom: 1px solid #c8c8c8;
}

.copicon h3 {
    color: rgb(117, 117, 117);
    font-weight: 200;
}

.copicon button span {
    display: block;
    font-size: 0.7em;
}

.copicon .main .heading,
.copicon .preview h3 {
    margin-top: 40px;
}


/* Heading */

.copicon .main .heading .number-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 8px;
    font-size: 1.2em;
    line-height: 1em;
    border: 2px solid rgb(117, 117, 117);
    position: relative;
    margin-bottom: 20px;
    color: rgb(117, 117, 117);
}

.copicon .main .heading h3 {
    position: absolute;
    font-size: 24px;
    width: 200px;
    top: -20px;
    left: 40px;
    color: rgb(117, 117, 117);
}

.copicon .main .heading .number-circle span {
    position: absolute;
    left: 0;
    top: 20%;
    height: 100%;
    width: 100%;
    text-align: center;
}

.copicon .main .form-control {
    border-radius: 0px;
    height: 40px;
}

.copicon .main p span {
    margin-left: 10px;
    font-style: italic;
}


/* Button */

.copicon .main .btn {
    outline: none;
    background: #fff;
    color: #a3a3a3;
    border: 2px solid;
    padding: 10px 40px;
    border-radius: 0px;
    margin-bottom: 5px;
}

.copicon .main .icon-size {
    margin-bottom: 20px;
}

.copicon .main .icon-size .btn {
    padding: 5px 0px;
    height: 40px;
    width: 89px;
    font-size: 0.66em;
    text-align: center;
}


/* Footer */

.copicon .footer .col-md-12 {
    text-align: center;
    border-top: 1px solid #c8c8c8;
    padding: 20px;
}

.copicon .footer .col-md-12:last-child {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 30px;
}

.copicon .footer .col-md-12 span a {
    color: #27b0ab;
    text-decoration: none;
}

.copicon .footer .btn {
    border-radius: 0px;
    background: #27b0ab;
    color: #fff;
    font-size: 25px;
    padding: 10px 70px;
    font-weight: 200;
}


/*Preview*/

.copicon .preview .app-icon {
    width: 150px;
    height: 150px;
}

.copicon .preview .app-splash {
    height: 450px;
    width: 275px;
}

.copicon .preview .app-icon,
.copicon .preview .app-splash {
    margin-bottom: 15px;
    text-align: center;
    border: 2px solid #c8c8c8;
}

.copicon .preview .text-disp {
    color: #ed837e;
}

.copicon .preview .caption-icon,
.copicon .preview .caption-splash {
    color: rgb(117, 117, 117);
}

.copicon .preview .app-icon .text-disp {
    font-size: 20px;
    margin-top: 40%;
    text-align: center;
}

.copicon .preview .app-splash .text-disp {
    font-size: 35px;
    margin-top: 73%;
}

.copicon .preview .app-icon .caption-icon {
    font-size: 13px;
}

.copicon .preview .caption-splash {
    font-size: 17px;
}


/*Hover Effect for Active Button*/

.copicon .main .btn.active,
.copicon .main .btn:active {
    border: 2px solid #27b0ab;
    color: #28b0ab;
}

.copicon .main .btn.active span,
.copicon .main .btn:active span {
    color: #a3a3a3;
}

.copicon .form-control:focus {
    border: 1px solid #27b0ab;
    color: #28b0ab;
    box-shadow: inset 0 1px 1px rgba(39, 176, 171, 0.5);
}

.copicon .main .btn.active:hover {
    border: 2px solid #45BCC4;
    color: #45BCC4;
}


/*
.copicon .main .btn:hover {
    border: 2px solid #FF7936;
    color: #FF7936;
}
*/


/* Hide Hover Effect for Disable Button*/

.copicon .main .btn.disabled:hover,
.copicon .main .btn[disabled],
.btn[disabled]:hover,
fieldset[disabled] .btn,
fieldset[disabled] .btn:hover {
    border: 2px solid rgba(170, 170, 170, 1) !important;
    color: rgba(170, 170, 170, 1) !important;
}


/*Media Queries*/

@media (min-width:768px) {
    .copicon .main .heading, .copicon .preview h3 {
        margin-top: 70px;
    }
    .copicon .main .btn {
        padding: 20px 50px;
        margin-right: 5px
    }
    .copicon .main .icon-size .btn {
        padding: 10px 0px;
        width: 135px;
        height: 55px;
        font-size: 1em;
        margin-bottom: 15px;
    }
}

@media (max-width: 991px) {
    .copicon .preview .app-icon, .copicon .preview .app-splash {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:992px) {
    .copicon .col-md-8.main {
        border-right: 1px solid #c8c8c8;
    }
}