body {
    margin-top: 50px;
}
.app-tool .panel {
    margin-top: 30px
}
.app-tool .divider {
    margin-top: 15px;
    border-bottom: 1px solid rgba(225,225,225,0.9);
}
.app-tool .panel .tool {
    margin-top: 20px;
}
 .well {
     margin-top: 5px;
     margin-bottom: 10px;
    background-color: #fff !important;
    }
.app-tool .btn {
    margin-top: 15px;
}
.app-tool #get-image-icon {
  height: 180px;  
}